.box{
    height: 500px;
    width: 200px;
    border-radius: 3px;
    /* box-shadow: 10px; */
    padding-inline: 5px;
    /* border: 5px; */
    
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  2px 2px 2px 2px;
    border: 5px;
    width: 330px;
}
input{
    width: 100%;
    margin: 10px;
    height:40px ;
    margin: 5px;
}
.h5{
    margin-top: 5px;
    color: blue;
    margin-bottom: 7px;
}
button{
    width: 100%;
    height: 40px;
    margin: 5px;
    border-radius: 20px;
}
